
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#calculator") Calculator
          li
            a(href="#contact") Contact
.container
  .row
    .span8
      p.lead
        | HRC Info
        a(href="http://en.wikipedia.org/wiki/Fuse_(electrical)") (wiki)
        |:

      p The breaking capacity is the maximum current that can safely be interrupted by the fuse. Generally, this should be higher than the prospective short circuit current. Miniature fuses may have an interrupting rating only 10 times their rated current. Some fuses are designated High Rupture Capacity (HRC) and are usually filled with sand or a similar material. Fuses for small, low-voltage, usually residential, wiring systems are commonly rated, in North American practice, to interrupt 10,000 amperes. Fuses for larger power systems must have higher interrupting ratings, with some low-voltage current-limiting high interrupting fuses rated for 300,000 amperes. Fuses for high-voltage equipment, up to 115,000 volts, are rated by the total apparent power (megavolt-amperes, MVA) of the fault level on the circuit.

  section#calculator
  .hero-unit
    .row
      .span6
        h2 Calculator:
        p.lead All fields are mandatory
        .form-horizontal
          fieldset
            .control-group
              label(class="control-label", for="eclairage") Eclairage:
              .controls
                .input-append
                  input(id="eclairage", type="text", placeholder="14")
                  span.add-on kVA
            .control-group
              label(class="control-label", for="service") Service:
              .controls
                .input-append
                  input(id="service", type="text", placeholder="2.0")
                  span.add-on kVA
            .control-group
              label(class="control-label", for="chargesFuture") Charges Future:
              .controls
                .input-append
                  input(id="chargesFuture", type="text", placeholder="10.0")
                  span.add-on kVA
            .control-group
              label(class="control-label", for="total") Total:
              .controls
                .input-append
                  span.input-large.uneditable-input#total
                  span.add-on kVA
            .control-group
              .controls
                button(class="btn",id="button",type="submit") Calculate
      .span4
        h2 Result:
        .row
          .span12
            .input-append
              span.input-xlarge.uneditable-input#update Result
              span.add-on A

  section#contact
  p.lead Is this calculator not working properly?
  a( class='btn btn-primary btn-large',href='mailto:toto19@gmail.com') Let us know

  script(type='text/javascript')
    $("#button").click( function()
       {
          var eclairage     = $("#eclairage").val();
          var service       = $("#service").val();
          var chargesFuture = $("#chargesFuture").val();
          var total         = Number(eclairage) + Number(service) + Number(chargesFuture);

          $("#total").text(total);

          var request = $.ajax({
            type: 'POST',
            async: false,
            url: '/calculate',
            data: { total: total }
          });
          request.done(function(msg) {
            $("#update").text(msg);
          });

          request.fail(function(jqXHR, textStatus) {
            alert( "Request failed: " + textStatus );
          });
       }
    );